/* Reset */
// html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
// article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
// body { line-height: 1;}
// ol,ul { list-style: none;}
// blockquote,q { quotes: none;}
// blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
// table { border-collapse: collapse; border-spacing: 0;}

//$primary: #2e7d32;
//$light: #60ad5e;
//$dark: #005005;
$primary: #1b5e20;
$light: #4c8c4a;
$dark: #003300;

/* Custom */
/*
  The best images so far: 10, 16,
 */
body {
  background-color: black;
  background-image: url('/assets/bg10.jpeg');
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: $primary;

  &:hover {
    color: $light;
  }
}

iframe {
  margin: auto;
}

.main {
  position:relative;
  top:4em;
  min-width: 220px;
}

.avi {
  margin-top: 1.2em;

  & img {
    display:block;
    background:$dark;
    border-radius:50%;
    overflow:hidden;
    width:10em;
    height:10em;
    margin:auto;
    border:2px solid #fff;
  }
}

.panel {
  margin: 8px 0;
}

/* Override bootstrap */
.bg-transparent {
  border: 0;
}

.card {
  //color: #fff;
}

.card-body {
  color: #fff;
}

/* Override mdl */
.mdl-color--green {
  background-color: $primary !important;
}

.mdl-chip__text {
  color: $primary;
}

//@media screen and (max-width: 200px) {
//  display: none;
//}